html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* styles */
body {
    font-family: Helvetica, sans-serif;
    background: #010101;
    color: #eee;
}
.container {
    text-align: center;
    width: 100%;
}
.controls {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}
.mixes-or-tunes {
    position: relative;
    height: 5vh;
    width: 95vw;
    margin: 3vh auto;
    line-height: 5.5vh;
}
.mixes-or-tunes div {
    display: block;
    width: 30.7%;
    margin-right: 3%;
    height: 5vh;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 3vh;
}

.mixes-or-tunes div:last-child {
    margin-right: 0;
}

.mixes-or-tunes .enabled {
    background-color: #2146ffa8;
    border: 0.5vh solid #2146ff;
}

.mixes-or-tunes .disabled {
    background-color: #2146ff23;
    border: 0.5vh solid #2146ff59;
    color: rgba(255, 255, 255, 0.332)
}

.mixes-or-tunes .mixes {
    position: absolute;
    left: 0;
    top: 0;

}
.mixes-or-tunes .tunes {
    margin-left: auto;
    margin-right: auto;
}
.mixes-or-tunes .both {
    position: absolute;
    right: 0;
    top: 0;
}
.marquee {
    width: 93.8vw;
    margin: 2vh auto;
    border: 0.5vh solid #ff9924;
    background-color: #ff99249b;
    top: 50.3vh;
    color: #ffffff;
    font-weight: bold;
    font-size: 3.5vh;
    text-transform: uppercase;
    height: 4vh;
    line-height: 4vh;
}
.marquee .rfm-marquee {
    line-height: 4.5vh;
}
.marquee span {
    padding-right: 2vw;
}
.play {
    position: relative;
    display: block;
    margin: 2vh auto;
    height: 37vh;
    width: 94vw;
    cursor: pointer;
    background-color: #009735bb;
    border: 0.5vh solid #009736;
    line-height: 37vh;
    font-size: 12vh;
}
.play img {
    height: 100%;
}
.play-container {
    position: relative;
    right: 0;
    bottom: 0;
}
.play-container .hypnotizer {
    position: absolute;
    right: 3.33vw;
    bottom: 1vh;
    width: 8vh;
    height: 8vh;
    overflow: hidden;
    z-index: 23;
    border: 1px solid #000000;
    cursor: zoom-in;
}
.play-container .hypnotizer img {
    animation: rotateHypnotizer 2s linear infinite;
    width: 200%;
    height: 200%;
    position: absolute;
    top: -6vh;
    left: -50%;
    top: -50%;
}

@keyframes rotateHypnotizer{
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

.stop {
    background-color: #ee2a34ad;
    border: 0.5vh solid #EE2A35;
    display: block;
    margin: 2vh auto;
    height: 37vh;
    width: 94vw;
    cursor: pointer;
    line-height: 37vh;
    font-size: 12vh;
}
.milkdrop .close {
    z-index: 5555;
    cursor: not-allowed;
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}
.milk-drop {
    position: absolute;
    width: 100vw;
    height: 100vh;
    margin: 0;
    top: 0;
    left: 0;
}
.milk-drop canvas {
    width: 100%;
    height: 100%;
}